<!DOCTYPE html>
<html>
  <head>
    <title>MiuFootball Shop</title>
    <style>
        body {
          font-family: Comic Sans, Helvetica, sans-serif; 
        }
        h1 {
          font-family: "Courier New", monospace; 
        }
        h5 {
            font-family: "Courier New", monospace; 
            font-style: italic;            
        }
        p {
          font-size: 19px; 
        }
      </style>
  </head>
  <body>
    <h1>Welcome to {{ app_name }}!</h1>
    <h5>Gear up for glory—kits, boots, and pro training gear in one place.</h5>
    <p>Made by: {{ name }}</p>
    <p>Class: {{ class_name }}</p>
  </body>
</html>